
                   <div id="headings" class="col-xs-12">science</div>
                   <div id="labels" class="row">
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'programming'  %}" >
                       programing
                       </a>
                       </div>
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'phones' %}" >
                       phones
                       </a>
                       </div>
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'technology' %}" >
                       technology
                       </a>
                       </div>
                   </div>
                   
                   <div id="headings" class="col-xs-
                   12">
                   politics
                   </div>
                   <div id="labels" class="row">
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'crime'  %}" >
                       crime
                       </a>
                       </div>
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'politics' %}">
                       politics
                       </a>
                       </div>
                       <div class="col-xs-4">
                       <a href="{% url 'categories' 'foreign'%}" >
                       foreign
                       </a>
                       </div>
                   </div>
                   
    