
                   <div id="headings" class="col-xs-12">science</div>
                   <div id="labels" class="row">
                       <div class="col-xs-4">programing</div>
                       <div class="col-xs-4">phones</div>
                       <div class="col-xs-4">technology</div>
                   </div>
                   
                   <div id="headings" class="col-xs-12">politics</div>
                   <div id="labels" class="row">
                       <div class="col-xs-4">crime</div>
                       <div class="col-xs-4">politics</div>
                       <div class="col-xs-4">foreign</div>
                   </div>
                   
    