
	<div class="panel-heading">LOGIN</div>
	
	<form method='post' Action='/'> 
	{% csrf_token %}
	
	<div class="panel-body">
			<div class="form-group">
			<label for="Email">Email address
			</label>
			<input type="email" class="form-control" id="Email" name='email' placeholder="Email">
			</div>
			
			<div class="form-group"> 
			<label for="Password">Password
			</label> 
			<input type="password" class="form-control" id="Password" name='password' placeholder="Password">
			</div>
			
	</div>
	
	<div style='margin-bottom:-13px;' class="panel-footer">
			<button type="submit" class="btn btn-
			default">LOGIN</button>
			<div style="text-align:center; 
							 color:red;">
			<h6>Are you not a member?</h6>
			<a href='/auth/signup'> SignUp </a> 
			</div>
			
	</div>
	
	</form>
	
